$menu-width: 50px;

.side-menu {
  width: 50px;
  height: 100%;
  background-color: rgb(51, 51, 51);
  float: left;
}

.side-menu-icon-container {
  width: 50px;
  height: 24px;
  padding: 12px 0px;
  text-align: center;
}

.side-menu-icon-container img{
  height: 24px;
}

.icon_wrapper {
  width: 50px;
  height: 24px;  
  position: absolute;
}

side-content {
  background-color: rgb(60, 60, 60);
  left: $menu-width;
  flex-grow: 1;  
  height: 100%;
}