.le-wrapper {
    width: inherit;
    height: 100%;
    display: flex;
    flex-direction: column;

    .tab-box {
        width: inherit;
        height: 30px;
        background-color: rgb(68, 68, 68);
        user-select:none;        
    }
    
    .le-toolbox {
        background-color: rgb(51, 51, 51);
        min-width: 691px;
        width: inherit;
        user-select:none;
        
    }
    
    .le-tool-group-wrapper {
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }
    
    .le-tool-group {
        width: fit-content;
        height: 40px;
        margin-left: 8px;
        margin-right: 8px;
        display: inline-block;
    }
    
    .le-tool-icon {
        width: 32px;
        height: 24px;
        padding: 8px 0px;
        text-align: center;
        display: inline-block;
    }

    .icon-wrapper {
        width: 32px;
        height: 24px;
        position: absolute;
    }
    
    .le-tool-icon img{
        height: 24px;
    }
    
    .le-iframe {
        width: 100%;
        border: none;
        flex-grow: 1;
    }
}
