<div class="side-title">File-browser</div>
<div class="file-tool-box">
  <div class="icon-container">
    <div class="icon-wrapper"></div>
    <img [src]='icon_newFile'>
  </div>
  <div class="icon-container">
    <div class="icon-wrapper"></div>      
    <img [src]='icon_newDirectory'>
  </div>
  <div class="icon-container">
    <div class="icon-wrapper"></div>
    <img [src]='icon_refresh'>
  </div>
  <div class="icon-container">
    <div class="icon-wrapper"></div>
    <img [src]='icon_delete'>
  </div>
</div>
<tree-root #tree [nodes]='nodes' [options]="options">
</tree-root>